*{
    box-sizing: border-box;
}






header{

    background-color: rgb(70, 95, 53);
    display: flex;
    color: aliceblue;
    padding: 12px;
    font-size: 18px;

}
.mainheading{
    margin: 0 auto;
    align-self: center;
    font-weight: bolder;
    font-size: 28px;
    
}
header ul{
    list-style: none;
    padding:0;
    margin: 0; 
    display: flex;
}
.firstheader{
 
    
    
}

li{
    padding: 8px;
}
header a{
    color: aliceblue;
    text-decoration: none;
}
.sidebar{

    background-color: rgba(218, 223, 151, 0.356);
}


.sidebar ul{
    list-style: none;
   
    padding: 0;
  
}
.contaner{
    min-width: 482px;
}
.main{
    padding: 8px;
    display: flex;
    flex-direction: column;
    
}
.main img {
    max-width: 100%;
    min-width: 183px;
 
    

}
.main .img{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
   
}
main{
    display: flex;
}
.sidebar img{
 width: fit-content;
    height: 352px;
}

.desinging{
    width: 254px;
}

main .img div{
   flex-basis: 21%;
    margin: 12px;

    padding: 14px;
    box-shadow: 0 4px 7px rgb(0 0 0 / 10%), 0 10px 18px rgb(0 0 0 / 10%);
    border-radius: 17px;
}
.main button {
    color: white;
    font-weight: bolder;
    background-color: rgb(55, 83, 62);
}
.introduction{
    flex-basis:52% ;
    font-size: 22px;
}
footer{
    width: 100%;
    height: 55px;
    background-color:rgb(70, 95, 53);
    color: white;
    text-align: center;
    padding-top: 17px;
}
h2{
   font-weight:bolder;
}
@media screen  and ( max-width:782px ) {
    header{
   flex-direction: column ;
   align-items: center;
    }
    .mainheading{
        margin: 15px 0;
        text-align: center;
    }
    main{
         flex-direction: column-reverse;
    }
    .sidebar img{
        width: 100%;
    }
    
}